<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hit.pretstreet.pretstreet"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PretStreet"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".Items.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegisterScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgotPasswordScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UploadPhotoScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SelectLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StoreLocationMapScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PrivacyandConditionsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AddStoreScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.DefaultLocation"
            android:screenOrientation="portrait" />

        <!-- Facebook relatrd task start -->
        <activity
            android:name=".facebook.FacebookLoginScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider112206959218432"
            android:exported="true" />

        <receiver android:name=".facebook.PretStreetFacebookBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/facebook_app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookapp_id" />

        <activity
            android:name=".facebook.GooglePlusLogin"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9zfZnqFROGAy0BfV0jWVazvzcr5il8ds" />
        <!--android:value="AIzaSyC5oAbU5rMUtQ7-IyutXsqmXAX_K-c_kSc" />-->

        <activity android:name=".ui.WebViewActivity" />
        <activity
            android:name=".facebook.GoogleLoginActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
    </application>

</manifest>